<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhh.dao.MenuDao">

    <resultMap id="menu" type="Menu">
        <id property="id" column="id" />
        <result property="title" column="title"/>
        <result property="iconCls" column="iconCls"/>
        <result property="href" column="href"/>
          <collection property="menus" ofType="Menu">
              <id property="id" column="fid"></id>
              <result property="title" column="ftitle"/>
              <result property="iconCls" column="ficonCls"/>
              <result property="href" column="fhref"/>
          </collection>
    </resultMap>

    <select id="queryAll" resultMap="menu">
          select m.id,m.title,m.iconCls,m.href,
                  fm.id fid,fm.title ftitle,fm.iconCls ficonCls,fm.href fhref
			 from c_menu m join c_menu fm on m.id=fm.parent_id
    </select>


</mapper>
