<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="	
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd">
			
	
	
	
	<!-- 开启注解扫描 -->
	 <context:component-scan base-package="com.hhh.service"></context:component-scan>
	 <!--引入小配置文件-->
		<context:property-placeholder location="classpath:db.properties"/>
	 <!-- 创建数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	       <property name="driverClassName" value="${jdbc.driver}"></property>
		   <property name="url" value="${jdbc.url}"></property>
		   <property name="username" value="${jdbc.username}"></property>
		   <property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!-- 创建sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	      <property name="dataSource" ref="dataSource"></property>
	      <property name="typeAliasesPackage" value="com.hhh.entity"></property>
	      <property name="mapperLocations" value="classpath:com/hhh/mapper/*Mapper.xml"></property>
	</bean>
	<!-- 创建Dao对象 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	   <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	   <property name="basePackage" value="com.hhh.dao"></property>
	</bean>
	
	<!-- 创建事务管理 -->
	 <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	 	<property name="dataSource" ref="dataSource"></property>
	 </bean>
	 <!-- 开启注解式事物生效 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
     
    
</beans>